<div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add new list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form accept-charset="UTF-8" method='post' action='pages/'>
      <div class = "form-group">
      <input id='listing_category' name='listing[category]' class="form-control form-control-lg" type="text" placeholder="Book name" >
      <input id='listing_body' name='listing[body]' class="form-control form-control-lg" type="text" placeholder="Add your first task">
      </div>
      </div> 
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add List</button>
      </div>
      </form>
    </div>
