
<div class = "container">
<h1>Hello User, what do you have today?</h1>

<form>
<div class = "form-group">
<select class="custom-select custom-select-lg mb-3">
    <option selected>Select Category</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
<input class="form-control form-control-lg" type="text" placeholder="Something...">
<button type="button" class="btn btn-primary" style="float: right; margin-top : 20px;">Submit</button>

</form>


</div>